{
  "env": {
    "browser": true,
    "es6": true
  },

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },

  "rules": {
    "indent": ["error", 2],
    "semi": 2,
    "new-cap": 0
  }
}

